*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

#background-image{
    background-image:  url(/public/Images/pregnant.jpg)  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh 
}


.home, .about, .contact{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

